**/node_modules/*
node_modules
**package-lock.json
**yarn-error*

coverage
**/coverage
**.nyc_output

**/doc/*
**/dist/*
**.DS_Store

**docker-compose.yml
.yo-rc.json

items.json
cache/


**/.terraform/
index.local.js
*.zip
*.backup
*/whatever.tf
*.json
