**/node_modules/*
node_modules
**package-lock.json
**yarn-error*

coverage
**/coverage
**.nyc_output

**/doc/*
**/dist/*
**.DS_Store

.yo-rc.json

items.json
cache/


**/.terraform/
index.local.js
*.zip
*.backup
*/whatever.tf
state.json
state-test.json
config.json
config-test.json

docker-compose.yml
.env
